.button {
  width: 56px;
  height: 56px;
  appearance: none;
  border-radius: 50%;
  border: 0;
  background-color: dimgrey;
  cursor: pointer;
  padding: 0;
  position: relative;
  justify-content: center;
}